/* 팀 소개 페이지 css */
@use '../../../styles/global.scss' as *;
@use '../../../styles/typography.scss' as *;

.aboutUs {
  // 섹션 영역 설정
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-pink-1;
}

.aboutTitle {
  @include text-h1;
  color: $color-black;
  margin-bottom: $spacing-2xl;
}
