@use '../../../../styles/global.scss' as *;
@use '../../../../styles/typography.scss' as *;
@use 'sass:color';

.waveFramer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 10;

  overflow: hidden;
}

.wave {
  width: 100%;
  height: 300%;

  position: absolute;
  top: 60%;

  transform: skewY(15deg);
}
