.projectInfoSectionWrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  max-width: 70%;
  flex-grow: 1;

  .projectInfoCententsLayout {
    display: flex;
    gap: $spacing-md;
    width: 100%;
    flex-grow: 1;
    min-height: 300px;
    aspect-ratio: 5/3;
    // overflow: hidden;
  }
}

.projectInfoLayoutWrapper {
  background-color: $color-white;
  min-width: 300px;
  // height: 300px;
  // width: 100%;
  border-radius: $spacing-md;
  flex-grow: 1;
}
