.projectCarouselWrapper {
  position: relative;
  height: 100%;
}
.projectCarouselWrapper.horizontal {
  width: calc(100% - 216px);
}
.slideItem {
  width: fit-content; // 카드 하나당 고정 너비
  flex-shrink: 0; // 줄어들지 않게!
}
.horizon {
  .customSwiper {
    height: auto;
    flex-direction: row;
  }
}
.vertical {
  .customSwiper {
    max-height: 1000px;
    height: 100%;
    width: fit-content;
    :global(.swiper-wrapper) {
      height: auto;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
  }

  .verticalPrev,
  .verticalNext {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    cursor: pointer;
    font-size: 24px;
    color: #00f; // 예시
  }

  .verticalPrev {
    top: 0;
  }
  .verticalNext {
    bottom: 0;
  }
}
